/*
#1f1d2e
#e0def4
#eb6f92
#f6c177
#31748f
#26233a
*/
/* font-family: 'Zen Kurenaido', sans-serif;*/



body
{

    background-color:#1f1d2e ;
    box-sizing: border-box;
    justify-content: right;
    

}

h1 
{
    color: #e0def4;
    font-family: 'Zen Kurenaido', sans-serif;

}

p
{
    color: #eb6f92;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 175%;
    width: 70%;
    float: right;
    
}

h2
{
    color: #f6c177;
    font-family: 'Zen Kurenaido', sans-serif;
}


.nav_list {
    
    background-color: #31748f;
    margin: 0;
    padding: 2rem ;
    display: flex;
    justify-content: space-between;
    
}

.nav_Menu {

    position: -webkit-sticky;
    position: sticky;
    top: 2px
    width 25%;
    float: left;
    

}

.nav_item {
    background-color: #31748f;
    list-style: none;
    margin-right: 0.5rem;
    padding: 1rem;
    

}

.nav_item a {
    color: #eb6f92;
    font-family: 'Zen Kurenaido', sans-serif;
    

}

.nav_item a:hover {
    color: #26233a;
}

@media screen and (min-width: 500px) {
.nav_list {
    
    background-color: #31748f;
    margin: 0;
    padding: 2rem ;
    display: inline-block;
    justify-content: space-between;
}
}